.theme-color li.active a{
    color: #ae5af3;
}
.theme-color li a{
    text-decoration: none;
    color: #999;
    font-weight:500;
}

@media screen and (max-width: 768px) {
   .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer .col-sm-12.col-md-5,  .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer .col-sm-12.col-md-6{
       padding-right: 0px;

   }
    .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer .col-sm-12.col-md-7,
    .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer .col-sm-12.col-md-6{
        padding-left: 0px;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        justify-content: center!important;
    }

    .white-box.card .d-block.text-center .btn.btn-success{
        margin-bottom: 8px;
    }
}

/* Tejas CSS Start  */

body{
    color: #333;
}
.text-yellow{
    color: #dcdc1a;
}
.dataTables_paginate .pagination{
    justify-content: flex-end;
}    
.custom_tbl_btn{
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #ccc;
    border-radius: 4px;
}
.custom_tab{
    background-color: #dee2e6 !important;
}
.custom-tab-content{
    border: 1px solid #dee2e6;
    padding: 15px 25px;
}
.custom_tab .nav-item a{
    color: #000;
}
.custom_tab .nav-item a:hover{
    color: #333;
}
.custom_tab .nav-link.active:hover{
    color: #fff;
    background-color: #283890;
}
.card{
    border-radius: 8px;
}
thead th{
    color: #000;
}
.btn-primary:hover {
    color: #fff;
    background-color: #283890;
    border-color: #283890;
}
.tbl_title_bg{
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.clear{
    clear: both;
}

.select2-container .select2-selection--multiple{
    /*min-height: 43px !important;*/
    height: 37px;
}
.select2-container--default .select2-selection--multiple {
    line-height: 21px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f2f2f2 !important;
    border: 1px solid #ccc !important;
    color: #333 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    background-color: transparent;
    border: 1px solid transparent;
    color: #555 !important;
}

/* sidebar css start*/
.topbar .top-navbar .navbar-header .navbar-brand .sidebartoggler {
    color: #000;
}
.topbar .top-navbar .navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0px;
    /*background-color: #aaa;*/
    background-color: #f6f8f9;
    padding: 0 10px 0;
    justify-content: space-between;
}
#main-wrapper[data-layout='vertical'] .left-sidebar[data-sidebarbg='skin2'], #main-wrapper[data-layout='horizontal'] .left-sidebar[data-sidebarbg='skin2'] {
    /*background: #777;*/
    background: #F96331!important;
}
.sidebar-nav ul .sidebar-item .sidebar-link {
    color: #fff;
    padding: 12px 15px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    opacity: 0.5;
}
/* sidebar css end */

@media (min-width: 768px){
.w-md-30 {
    width: 30%!important;
}
.w-md-20 {
    width: 20%!important;
}
}

/* Tejas CSS End  */

